{% extends 'base.html' %}
{% load static %}

{% block title %}تفاصيل المنتج - سوق الدانة{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="product-page-container">
        <div class="product-image-container">
            <img src="https://placehold.co/500x500?text=Loading..." alt="جاري تحميل المنتج" id="product-image">
        </div>
        <div class="product-details-container">
            <h1 id="product-name"></h1>
            
            <p id="product-original-price" class="original-price"></p>
            <p id="product-price" class="product-page-price"></p>
            
            <p id="product-description"></p>
            
            <button id="add-to-cart-btn" class="add-to-cart-btn">أضف إلى السلة</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/product-detail.js' %}"></script>
{% endblock %}